@charset "UTF-8";
.k-select.wrapper {
  position: relative;
}
.k-select .container {
  width: auto;
}
.k-select button {
  border: 0;
  border-radius: 4px;
  background: beige;
  width: 100%;
  padding: 6px 8px;
  position: relative;
  text-align: left;
}
.k-select button:hover {
  cursor: pointer;
}
.k-select button::after {
  position: absolute;
  right: 6px;
  top: 4px;
  content: "↑";
}
.k-select button.expanded::after {
  content: "↓";
}
.k-select ul {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.k-select ul.options {
  border: 1px solid orange;
  display: none;
  list-style: none;
  padding: 4px 0;
  margin-top: -4px;
}
.k-select ul.options li {
  padding: 6px 10px;
  background-color: white;
}
.k-select ul.options li:active, .k-select ul.options li:focus, .k-select ul.options li:hover, .k-select ul.options li[aria-selected=true] {
  background: orange;
  cursor: pointer;
}
.k-select ul.show {
  display: block;
}