.k-select {
  &.wrapper {
    position: relative;
  }
  & .container {
    width: auto;
  }

  & button {
    border: 0;
    border-radius: 4px;
    background: hotpink;
    width: 100%;
    padding: 6px 8px;
    position: relative;
    text-align: left;

    &:hover {
      cursor: pointer;
    }
    &::after {
      position: absolute;
      
      right: 6px;
      top: 4px;
      content: "\2191";
    }
    &.expanded::after {
      content: "\2193";
    }
  }

  ul {
      position:absolute;
      z-index:100 ;
      width:100%;
    &.options {
      border: 1px solid hotpink;
      display: none;
      list-style: none;
      padding: 4px 0;
      margin-top: -4px;

      li {
        padding: 6px 10px;
        background-color: white;
        &:active,
        &:focus,
        &:hover,
        &[aria-selected="true"] {
          background: pink;
          cursor: pointer;
        }
      }
    }

    &.show {
      display: block;
    }
  }
}
